<hr />
<div class="bg-light rounded-lg w-50 mx-auto mt-5 shadow p-3">

  <h1 class="text-center mb-5">Sign Up to Social Media</h1>

  <form (ngSubmit)="this.onSubmit()" [formGroup]="signUpForm">
    <p>
      Form Status: {{ signUpForm.status }}
    </p>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputName">First Name</label>
        <input type="text" class="form-control" id="inputName" formControlName="firstName" required>

        <div *ngIf="name.invalid && (name.dirty || name.touched)" class="text-danger">
          <div *ngIf="name.errors.required">
            Name is required.
          </div>
        </div>

      </div>

      <div class="form-group col-md-6">
        <label for="inputLastName">Last Name</label>
        <input type="text" class="form-control" id="inputLastName" formControlName="lastName" required>

        <div *ngIf="last.invalid && (last.dirty || last.touched)" class="text-danger">
          <div *ngIf="last.errors.required">
            Last Name is required.
          </div>
        </div>

      </div>
    </div>

    <div class="form-group">
      <label>Email Address</label>
      <input type="email" class="form-control" id="inputEmail" formControlName="email" required>
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>

      <div *ngIf="email.invalid && (email.dirty || email.touched)" class="text-danger">
        <div *ngIf="email.errors.required">
          Email is required.
        </div>
      </div>

    </div>

    <div class="form-group">
      <label>Display Name</label>
      <input type="text" class="form-control" id="inputDisplayName" formControlName="displayName">
      <small class="form-text text-muted">Your display name should be unique.
        Leave empty to use your proper name. You can change this later.</small>
    </div>

    <div class="form-group">
      <label>Password</label>
      <input type="password" class="form-control" id="inputPassword" formControlName="password" 
      required 
      minlength="6">

      <div *ngIf="password.invalid && (password.dirty || password.touched)" class="text-danger">
        <div *ngIf="password.errors.required">
          A valid Password is required.
        </div>
      </div>

    </div>

    <div class="form-group">
      <label>Confirm Password</label>
      <input type="password" class="form-control" id="inputPassword2" formControlName="confirmPassword" 
      required
      minlength="6">
    </div>

    <div class="d-flex align-items-center">
      <button type="submit" class="btn btn-primary" [disabled]="!signUpForm.valid || this.submitted">
        <span class="spinner-grow spinner-grow-sm mx-2" role="status" aria-hidden="true"
          [hidden]="!this.submitted"></span>
        <span>{{!this.submitted ? "Sign Up Now" : "Working..."}}</span>
      </button>

    </div>
  </form>

</div>

<!-- Error Email -->
<app-alert *ngIf="this.errors.email" [message]="'Email address already in use'" [type]="'danger'">
</app-alert>

<hr />