<mat-card class="my-3">

  <mat-card-header>
    <mat-card-title class="d-flex align-items-center mx-0">
      <mat-icon>person</mat-icon>
      {{post.author}}
      <!-- {{postid}} -->
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <p class="px-3 mt-2" style="font-size: medium;">{{post.content}}</p>
  </mat-card-content>

  <mat-card-actions>
    <div class="d-flex align-items-center">
      <button mat-mini-fab color="warn" (click)="onLike()" [disabled]="liked" class="m-2">
        <mat-icon>plus_one</mat-icon>
      </button>
      <h2 class="text-dark pt-3">{{post.likes}}</h2>
    </div>
  </mat-card-actions>
</mat-card>
